name: Build and test the plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: latest

      - name: Build and test plugin
        run: |
          npm install
          npm run test
